[Unit]
Description=Fuseki server
After=network.target

[Service]
WorkingDirectory=/opt/fuseki
ExecStart=/usr/bin/java -Xmx1200M -jar /opt/fuseki/fuseki-server.jar
Environment=FUSEKI_HOME=/opt/fuseki
Environment=FUSEKI_BASE=/etc/fuseki
Environment=FUSEKI_USER=root

[Install]
WantedBy=multi-user.target
